.job-card{
    background: #ffffff;
    width: 500px;
    padding: 16px;
    border-radius: 12px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 10px 0px;
}
.job-title{
    font-size: 20px;
    margin: 0;
    color: #111827;
}

.job-company{
    font-size: 15px;
    margin: 6px 0;
    color: #374151;
}

.job-details{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.job-location,
.job-type{
    font-size: 13px;
    padding: 6px 12px;
    border-radius: 20px;
    background: #f3f4f6;
    color: #111827;
}