.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-top: 10px;
}

.heading{
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: bold;
}